{% block navigation %}
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('cafe_homepage') }}">Home</a></li>
            <li><a href="{{ path('cafe_item') }}">Create Item</a></li>
            <li><a href="{{ path('cafe_drink') }}">Create Drink</a></li>
        </ul>
    </nav>
{% endblock %}

{# @TODO: change this to beautiful list of CafeDrinks #}
{{ dump(coffee) }}
