{{ form_start(form, { 'action': path('cafe_item'), 'method': 'POST', 'attr': {'class': 'cafe'} }) }}

{{ form_errors(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.price) }}
{{ form_rest(form) }}
<input type="submit" value="Submit" />